<h1 style='position: fixed; bottom: 100px; color: red;' >{{question.compQuestion}}</h1>
{{input id="answer" value=question.answer}}
<h1 id="winner" style='position: fixed; top: 100px; color: red;'>WINNER!</h1>
<button id="continue" {{action 'nextQuestion'}} style='position: fixed; bottom: 100px; right: 100px; color: red;'>Continue?</button>
