a-scene {
  display: block;
  width: 50%;
}

canvas.a-canvas {
  width: 100px;
  height: 100px;
}

.aframeWrapper{
padding: 20px;

}

#question {
  text-align: center;
  color: #808497;
  position: fixed;
  bottom: 5%;
  margin-left: 5%;
  font-size: 8em;
  text-shadow: 1px 1px 1px white;
  font-family: 'Orbitron', sans-serif;
}

element.style {
  height:500px;
  width:500px;
}

#score {
  position: fixed;
  top: 50px;
  right: 50px;
  color: red;
}

#timer {
  position: fixed;
  top: 50px;
  left: 50px;
  color: red;
}

.info {
  font-size: 2em;
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  position: fixed;
  list-style: none;
  margin-left: 10%;
  margin-bottom: 10%;
  top: 30%;
}

.info p{
  padding-bottom: 5%;
  margin-bottom: 5%;
}


#winner, #loser {
  text-align: center;
  /*margin-left: 25%;*/
  font-size: 8em;
  text-shadow: 1px 1px 1px white;
  font-family: 'Orbitron', sans-serif;
  display: none;
  position: fixed;
  top: 100px;
  color: #878097;
}

#continue, #reset {
  font-family: 'Orbitron', sans-serif;
  font-weight: bold;
  background: #b3dced; /* Old browsers */
  background: -moz-linear-gradient(45deg, #b3dced 11%, #29b8e5 41%, #29b8e5 41%, #bce0ee 78%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #b3dced 11%,#29b8e5 41%,#29b8e5 41%,#bce0ee 78%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #b3dced 11%,#29b8e5 41%,#29b8e5 41%,#bce0ee 78%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#bce0ee',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  font-size: 5em;
  padding: 2%;
  border-radius: 25px;
  display: none;
  position: fixed;
  bottom: 250px;
  right: 100px;
  color: #878097;
}

#endgame {
  font-family: 'Orbitron', sans-serif;
  font-weight: bold;
  background: #b3dced; /* Old browsers */
  background: -moz-linear-gradient(45deg, #b3dced 11%, #29b8e5 41%, #29b8e5 41%, #bce0ee 78%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #b3dced 11%,#29b8e5 41%,#29b8e5 41%,#bce0ee 78%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #b3dced 11%,#29b8e5 41%,#29b8e5 41%,#bce0ee 78%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#bce0ee',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  font-size: 5em;
  padding: 2%;
  border-radius: 25px;
  display: none;
  position: fixed;
  bottom: 50px;
  right: 100px;
  color: #878097;
}

.title {
  text-align: center;
  /*color: #808497;*/
  position: fixed;
  margin-left: 10%;
  top: 10%;
  font-size: 8em;
  text-shadow: 0px 1px 5px #0099ff;
  font-family: 'Orbitron', sans-serif;
}

p {
  text-align: center;
  font-size: 7em;
  margin: 20px 0 20px 0;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

p {
  font-size: 1.5em;
  color: #228DFF;
  font-family: 'Orbitron', sans-serif;
}

p:hover {
  -webkit-animation: neon2 1.5s ease-in-out infinite alternate;
  -moz-animation: neon2 1.5s ease-in-out infinite alternate;
  animation: neon2 1.5s ease-in-out infinite alternate;
}

p:hover {
  color: #ffffff;
}

@-webkit-keyframes neon2 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
  }
}

@-moz-keyframes neon2 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
  }
}

@keyframes neon2 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
  }
}

@media (max-width: 650px) {
  #container {
    width: 100%;
  }
  p {
    font-size: 3.5em;
  }
}

#names {
  text-align: center;
  color: #73848A;
  margin-left: 13%;
  position: fixed;
  font-size: 2em;
  top: 28%;
  text-shadow: 1px 1px 1px white;
  font-family: 'Orbitron', sans-serif;
  font-weight: bold;
}

#answer {
  display: none;
}

body {
  background-image: url('/assets/images/pixel.png');
}
