<div class="ui fixed stackable inverted menu">
  <div class="ui container">
    <span class="header item">Math Blaster VR</span>
    {{#link-to 'index' class="header item"}}<i class="home icon"></i> Home{{/link-to}}
    {{#link-to 'game' class="header item"}}<i class="play icon"></i>New Game{{/link-to}}
    {{#link-to 'highscore' class="header item"}}<i class="thumbs up icon"></i>High Scores{{/link-to}}
    {{#link-to 'help' class="header item"}}<i class="help icon"></i>Help{{/link-to}}
    <!-- <div class="right item">
      <div class="ui input"><input type="text" placeholder="Search..."></div>
    </div> -->
    <audio controls="controls" src="/assets/music/2001.mp3">
    </audio>
  </div>
</div>
<!-- <img id="pixel-img" src="/assets/images/pixel.png"> -->

<div class="container-fluid">
  <div class="row">
    {{outlet}}
  </div>
</div>
