<div class="col-sm-6 col-sm-offset-2">
  <p class="title">How To Play</p>
  <div class="info">
    <p><strong>Movement:</strong> W, A, S, D</p><br>
    <p><strong>To Fire at Targets:</strong> <br>Click the Mouse.</p>
    <p><strong>Objective:</strong> Accumulate points by<br><br><br> answering math questions correctly.</p>
  </div>
</div>
