<div class="col-sm-6 col-sm-offset-2">
  <h1 class="title">How To Play</h1>
  <ul class="info">
    <li><strong>Movement:</strong> W, A, S, D</li>
    <li><strong>To Fire at Targets:</strong> Click the Mouse.</li>
    <li><strong>Objective:</strong> Accumulate points by<br><br><br> answering math questions correctly.</li>
  </ul>
</div>
